{{#section "css"}}
    <link href="/static/css/album-song.css" rel="stylesheet">
{{/section}}
<div class="album-header">
    <img src="{{album.img}}" alt="{{album.title}} Cover" class="playlist-cover-header">
    <div class="playlist-info">
        <p class="playlist-type">Public Playlist</p>
        <h1 class="playlist-title">{{album.title}}</h1>
        <p class="playlist-description">
            {{#if album.description}}
                {{album.description}}
            {{else}}
                Một album đặc biệt với những bài hát được chọn lọc kỹ lưỡng
            {{/if}}
        </p>
        {{#if album.details}}
            <p class="playlist-genre">Thể loại: {{album.details.genre}}</p>
            <p class="playlist-release-date">Ngày phát hành: {{album.details.releaseDate}}</p>
        {{/if}}
    </div>
</div>

<div class="album-content">
    <table class="song-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Date Added</th>
                <th><i class="fas fa-clock"></i></th>
            </tr>
        </thead>
        <tbody id="song-list">
            {{#each songs}}
                <tr>
                    <td>{{@index}}</td> <!-- Dùng {{@index}} để tự động đánh số -->
                    <td>
                        <div class="album-row">
                            <img src="{{cover}}" alt="{{title}} Cover" class="playlist-cover">
                            <p class="album-title">{{title}}</p>
                        </div>
                    </td>
                    <td>{{artist}}</td>
                    <td>{{dateAdded}}</td>
                    <td>{{duration}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

