{{#section "css"}}
    <link href="/static/css/homepage.css" rel="stylesheet">
{{/section}}
<main>
    <section class="album-detail">
        <h1>{{album.title}} by {{album.artist}}</h1>
        <img src="{{album.img}}" alt="{{album.title}} by {{album.artist}}" class="album-cover">
        <p>More information about this album can be placed here.</p>
    </section>
</main>

