{{#section "css"}}
    <link href="/static/css/albumrank.css" rel="stylesheet">
{{/section}}

    <section class="album-list">
        <h2>Album hàng đầu tháng này</h2>
        <div class="album-grid" id="top-month-albums" name="{{AlbumID}}">
            {{#each albumsThisMonth}}
                <div class="album-item">
                    <a href="/music/album-detail?albumid={{AlbumID}}">
                        <img src="/static/imgs/album/{{AlbumID}}/main.jpg" alt="{{AlbumName}} by {{artistName}}" class="album-cover">
                    </a>
                    <div class="album-info">
                        <h3>{{AlbumName}}</h3>
                        <p>{{artistName}}</p>
                        {{#if this.details}}
                            <p>Release Date: {{ReleaseDate}}</p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
