{{#section "css"}}
    <link href="/static/css/album.css" rel="stylesheet">
{{/section}}
<div class="album-header" id="album-song-header">
    {{!-- <img src="/static/albums/{{AlbumID}}/main.jpg" alt="{{AlbumName}} Cover" class="playlist-cover-header"> --}}
    <img src="/static/imgs/album/{{this.album.AlbumID}}/main.jpg" alt="{{AlbumName}} Cover" class="playlist-cover-header">
    <div class="playlist-info">
        <h1 class="playlist-title">{{this.album.AlbumName}}</h1>
        <p class="playlist-description">
            {{#if album.description}}
                {{album.description}}
            {{else}}
                Một album đặc biệt với những bài hát được chọn lọc kỹ lưỡng
            {{/if}}
        </p>
        {{#if album.details}}
            <p class="playlist-genre">Thể loại: {{album.details.genre}}</p>
            <p class="playlist-release-date">Ngày phát hành: {{album.details.releaseDate}}</p>
        {{/if}}
    </div>
</div>

<div class="album-content" id="album-song-content">
    <table class="song-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Date Added</th>
                <th><i class="fas fa-clock"></i></th>
            </tr>
        </thead>
        <tbody id="song-list">
            {{#each songs}}
            <tr class="song-row"  data-song-index="{{SongID}}" data-song-name="{{SongName}}" data-artist-name="{{artistName}}"
                data-album-name="{{AlbumName}}" data-song-url="/static/songs/{{SongID}}/main.mp3"
                data-cover-url="/static/imgs/song/{{SongID}}/main.jpg" onclick="Amplitude.playNow({{this.SongID}})">
                <td>{{displayIndex}}</td>
                <td>
                    <div class="album-row">
                        <img src="/static/imgs/song/{{SongID}}/main.jpg" alt="{{SongName}} Cover" class="playlist-cover">
                        <p class="album-title">{{SongName}}</p>
                    </div>
                </td>
                <td>{{artistName}}</td>
                <td>{{DateAdded}}</td>
                <td>{{duration}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<input type="hidden" id="albumid" value="{{this.album.AlbumID}}">


