
{{#section "css"}}
    <link href="/static/css/album.css" rel="stylesheet">
{{/section}}
<div class="album-content" id="album-song-content">
    <table class="song-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Date Added</th>
                <th><i class="fas fa-clock"></i></th>
            </tr>
        </thead>
        <tbody id="song-list" >
            {{#each listSong}}
            <tr class="song-row" data-song-index="{{@index}}" data-song-name="{{SongName}}" data-artist-name="{{artistName}}"
                data-album-name="{{AlbumName}}" data-song-url="/static/songs/{{SongID}}/main.mp3"
                data-cover-url="/static/imgs/song/{{SongID}}/main.jpg">
                <td>{{displayIndex}}</td>
                <td>
                    <div class="album-row">
                        <img src="/static/imgs/song/{{SongID}}/main.jpg" alt="{{SongName}} Cover" class="playlist-cover">
                        <p class="album-title">{{SongName}}</p>
                    </div>
                </td>
                <td>{{artistName}}</td>
                <td>{{DateAdded}}</td>
                <td>{{duration}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{#section "script"}}
    
{{/section}}
