<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{album.title}} - Album Detail</title>
</head>
<body>
    <main>
        <section class="album-detail">
            <h1>{{album.title}} by {{album.artist}}</h1>
            <img src="{{album.img}}" alt="{{album.title}} by {{album.artist}}" class="album-cover">
            <p>More information about this album can be placed here.</p>
        </section>
    </main>
</body>
</html>
