{{#section "css"}}
<link href="/static/css/output.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20
/jquery.datetimepicker.min.css">
{{/section}}
<form action="/account/upload" method="post" enctype="multipart/form-data">
  <div class="w-full h-full
  bg-gradient-to-b from-[#37266A] via-[#5150B1] to-[#3A397E]
  rounded-[20px] flex flex-col p-3 gap-3">
    {{!-- <div class="w-full h-1/3 bg-black/25 rounded-2xl flex flex-col justify-center p-3">
      <span class="w-full h-1/2 text-white text-xl font-normal font-spartan">0% of free uploads used</span>
      <div id="progress-bar" class="w-full max-w-[80vh] max-h-[14px] bg-gray-200 rounded">
        <div class="h-full bg-blue-500 rounded" style="width: 90%;"></div>
      </div>
    </div> --}}
    <div class="w-full bg-black/25 rounded-2xl flex flex-col gap-2 justify-center items-center p-3 min-h-[60vh]">
      <span for="fileInput" class="w-full text-white text-[45px] font-normal font-spartan text-center">
        Upload new song
      </span>
      <div class="flex items-center space-x-1 mb-4">
        <label for="txtSongName" class="bg-white text-black font-semibold p-2.5 rounded ml-2 w-40">Song name</label>
        <input type="text" id="txtSongName" name="songname"
          class="text-white p-2.5 rounded bg-transparent w-55 border border-1.5-white w-80"
          placeholder="Enter song name">
      </div>
      <div class="flex items-center space-x-1 mb-4">
        <label for="txtCat" class="bg-white text-black font-semibold p-2.5 rounded ml-2 w-40">Gernes</label>
        <div class="dropdown" id="catid">
          <button
            class="btn btn-secondary dropdown-toggle text-white p-2.5 rounded bg-transparent w-55 border border-1.5-white w-80"
            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose gernes
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each this.list}}
            <li>
              <a class="dropdown-item" href="#">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="catid[]" value="{{CatID}}"
                    id="Checkme{{CatID}}" />
                  <label class="form-check-label" for="Checkme{{CatID}}">{{CatName}}</label>
                </div>
            </a>
        </li>
        {{/each}} 
    </ul>
  </div>
  </div>
  <div class="flex items-center space-x-1 mb-4">
  <label for="txtReleaseday" class="bg-white text-black font-semibold p-2.5 rounded ml-2 w-60">Release Date</label>
  <input type="text" name="ReleaseDate" id="txtReleaseday" class="form-control" placeholder="Select a date" aria-describedby="helpId">
  </div>
  <div class="flex items-center space-x-1 mb-4">
  <label for="fileInput" class="bg-white text-black font-semibold p-2.5 rounded ml-2 w-40">Song File</label> 
  <input type="file" id="fileInput" name="FilePath" class="mb-4 p-2 border rounded text-white">
  </div>
  <div class="flex items-center space-x-1 mb-4">
  <label for="imageInput" class="bg-white text-black font-semibold p-2.5 rounded ml-2 w-40">Image File</label> 
  <input type="file" id="imageInput" name="ImagePath" class="mb-4 p-2 border rounded text-white">
  </div>
  <button type="submit" class="bg-[#D6CECE] rounded-[20px] w-[50%] p-2 text-xl mr-2">Upload</button>
   <span class="w-full text-white text-[20px] font-light font-spartan text-center">
   <i class="bi bi-file-earmark-music-fill"></i> Make a playlist if there are more than 1 file
  </span>
  
  {{!-- {{#if fileUrl}}
    <div>
      <audio controls>
        <source src="{{fileUrl}}" type="audio/mp3" />
        Your browser does not support the audio element.
      </audio>
    </div>
  {{/if}} --}}
</div>

  </div>
</form>

{{#section "script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script>
  $('#txtReleaseday').datetimepicker(
    {
      timepicker: false,
      format: 'd/m/Y',
      mask: true,
      minDate: 0
    }
  );
</script>
{{/section}}